*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.contenedor-titulo {
    background-color: #283747;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 60px;
    padding-top: 25px;
}

.contenedor-boton2{
	background-color: #283747;
}

.cuadricula-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.tarjeta-producto {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    width: 250px; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

.tarjeta-producto:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.tarjeta-producto img {
    object-fit: cover;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}


.detalles-producto {
    padding: 15px;
    text-align: center;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.detalles-producto h3 {
    color: #333;
    margin-top: 10px;
}

.detalles-producto p {
    color: #666;
    margin-top: 10px;
}

.precio {
    color: #3498db;
    font-weight: bold;
    margin-top: 10px;
}

.contenedor-boton{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.boton-volver {
    display: flex;
    padding: 10px 15px;
    background-color: #283747;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.boton-volver:hover {
    background-color: #222f3c;
    
}

.boton-volver2 img{
	max-height: 15px;
	position: absolute;
	padding-top: 34px;
  padding-left: 8%;
  background-color: #283747;
}


@media (max-width: 768px) {
    .cuadricula-productos {
        padding: 10px;
    }

    .tarjeta-producto {
        width: calc(50% - 20px);
    }
}
