<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/control.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Panel de Control</title>
</head>
<body>
    <header class="admin-header">
		<img src="https://res.cloudinary.com/dbbuyidxq/image/upload/v1701738762/udtsajbqavh3qxikngee.png" >
        <h1>Panel de Administración</h1>
        <img src="https://res.cloudinary.com/dbbuyidxq/image/upload/v1701738762/udtsajbqavh3qxikngee.png" >
    </header>

    <div class="dashboard">
        <div class="card">
            <div class="card-content">
                <img src="https://res.cloudinary.com/dbbuyidxq/image/upload/v1701738747/gfhymahvolgbpahv54ci.png" alt="Icono">
                <h2>Editar Producto</h2>
                <p>Selecciona un producto para editarlo.</p>
                <button class="action-button" onclick="mostarVentana('https://kiosco-production.up.railway.app/lista-editar')">Editar</button>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <img src="https://res.cloudinary.com/dbbuyidxq/image/upload/v1701738744/m5pyvym7ve5r9zhj9qdi.png" alt="Icono">
                <h2>Agregar Producto</h2>
                <p>Añade nuevos productos.</p>
                <button class="action-button" onclick="mostarVentana('https://kiosco-production.up.railway.app/almacen')">Agregar Producto</button>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <img src="https://res.cloudinary.com/dbbuyidxq/image/upload/v1701738762/tnjotsdtkjzzvk9u7b90.png" alt="Icono">
                <h2>Eliminar Producto</h2>
                <p>Elimina productos existentes.</p>
                <button class="action-button" onclick="mostarVentana('https://kiosco-production.up.railway.app/lista-eliminar')">Eliminar Producto</button>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <img src="https://res.cloudinary.com/dbbuyidxq/image/upload/v1701738759/yhql7sipgvcwm50bely0.png" alt="Icono">
                <h2>Ver Todos los Productos</h2>
                <p>Consulta la lista completa de productos.</p>
                <button class="action-button" onclick="mostarVentana('https://kiosco-production.up.railway.app/lista-produc-admin')">Ver Lista</button>
            </div>
        </div>
    </div>
    <script>
		function mostarVentana(url) {
			window.location.href = url;
		}
	</script>
</body>
</html>
