<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/lista-editar.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Lista de Productos</title>
</head>
<body>
	 <div class="contenedor-boton2">
	<a href="http://localhost:8080/control" class="boton-volver2"><img src="/img/volver.png"></a> 
	</div>
	 <div class="contenedor-titulo">
        <h1>Administración de Stock</h1>
    </div>

    <div class="cuadricula-productos">
        <!-- Agrega más tarjetas dinamicamente -->
    </div>
    <div class="contenedor-boton">
        <a href="http://localhost:8080/control" class="boton-volver">Volver</a>
    </div> 
    <script type="text/javascript" src="/js/listaEditar.js"></script>
</body>
</html>
